.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/test.jpg");
    background-repeat: no-repeat, repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h-hand,
#m-hand,
#s-hand,
#s-tail {
    stroke: aliceblue;
    stroke-linecap: round;
}

#h-hand {
    stroke-width: 3px;
}

#m-hand {
    stroke-width: 2px;
}

#s-hand {
    stroke-width: 1px;
}

#tick {
    stroke: whitesmoke;
    stroke-width: 1.5px;   
}