body {
    background-image: url("./images/test.jpg");
    background-size: cover;
}

.clock {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    border: solid 7px rgb(98, 92, 92);
    background-color: white;
    border-radius: 50%;
    top : 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 250px;
    height: 250px;
}

.clock-center {
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background: rgb(129, 123, 123);
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: silver;
    transform-origin: 50% 100%; /* 底を中心として回転 */
}

.hour.hand{
    width: 6px;
    height: 90px;
}

.minute.hand {
    width: 4px;
    height: 120px;
}

.second.hand {
    width: 2px;
    height: 110px;
}